.edit-button {
    border-color: #00bc77;
    border-radius: 2px;
    border: none;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}
.header {
    color: #fff;
    margin-bottom: 2rem;
    padding-top: 1.33rem;
}
.header h1 {
    margin: 0 0 1.33rem;
}
#edit-container {
    display: none;
    justify-content: center;
    padding: 0 2rem 2rem;
}
#headerEdit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 365px;
    background-color: #fff;
    border-radius: 5px;
}
#headerEdit h1 {
    margin-top: 0;
}
#header-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
}
#header-inputs label {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-weight: bold;
}
#header-inputs input {
    width: 236px;
    padding: 5px;
    font-size: 1.2rem;
    outline: none;
}
.header-edit-buttons {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 20px;
}
.header-edit-buttons button {
    border: none;
    border-radius: 2px;
    background-color: #00bc77;
    color: #fff;
    font-weight: bold;
    width: 105px;
    padding: 4px 5px 5px;
    cursor: pointer;
}
.user-main {
    background-color: #12002b;
    height: 100%;
    flex: 1;
    padding-bottom: 97px;
}
